.cont-orden {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}
.payment-btn {
	padding: 12px 24px;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	transition: transform 0.2s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-btn:hover {
	transform: scale(1.05);
}

.tabby-btn {
	background-color: #00c1b5;
	color: white;
}

.tamara-btn {
	background-color: #612f90;
	color: white;
}
